.rect {

    -fx-padding: 10px;
    -fx-min-width: 120px;
    -fx-background-color: rgba(255,255,255,.3);
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
    -fx-border-width: 3px;
    -fx-border-color: #9400FF;
    -fx-text-fill: #9400FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 2, 2);
    -fx-font-weight: 100;
    -fx-font-size:  15px;

}
.rect:hover{
    -fx-background-color: #000000;
    -fx-text-fill: rgba(255, 255, 255, 0.78);
}
.roul{
    -fx-text-fill: #9400FF;
    -fx-border-color: #9400FF;
    -fx-border-width: 3px;
    -fx-padding: 2px;
    -fx-fill: #11071f;
}

.betted{
    -fx-border-width: 3px;
    -fx-padding: 2px;
    -fx-fill: #11071f;
    -fx-border-color: #ff4031;
}
.fixer{
    -fx-border-width: 3px;
    -fx-padding: 2px;
    -fx-fill: #e5ffea;
    -fx-border-color: #f9ff33;
}


.txt{
    -fx-font-size:  90px;
    -fx-font-family: "Selznick Normal NF";
    -fx-font-weight: 100;
    -fx-fill:#9400FF;

    -fx-effect: dropshadow(three-pass-box, rgba(227, 182, 255, 0.87), 2, 2, 2, 2);
}
.blank{
    -fx-fill: transparent;
    -fx-stroke: #000000;
    -fx-stroke-width: .5;


}
.black{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 2, 2);
    -fx-fill: black;
    -fx-stroke: #000000;
    -fx-stroke-width: .5;
}
.liltxt{
    -fx-font-size:  15px;
    -fx-font-weight: 300;
}
.liltxt2{
    -fx-font-size:  55px;
    -fx-font-family: "Selznick Normal NF";
    -fx-font-weight: 100;
    -fx-fill: #3e4465;
    -fx-effect: dropshadow(three-pass-box, rgba(60, 61, 145, 0.67), 1,10, 1, 1);

}
.medtxt{
    -fx-font-size:  25px;
    -fx-font-family: Montserrat;
    -fx-font-weight: 100;
}
.calm {
    -fx-max-height: 100px;
    -fx-max-width: 200px;
}

.bgpick-1{
    -fx-fill: skyblue;

}
.ds{
    -fx-fill: white;

}
.newbtn{
     -fx-padding: 10px;
     -fx-min-width: 120px;
     -fx-background-color: #292929;
     -fx-background-radius: 0px;
     -fx-text-fill: white;
     -fx-border-radius: 0px;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.46), 13, 0, 2, 2);
     -fx-font-weight: 100;
     -fx-font-size:  15px;
 }
.newbtn2{
    -fx-padding: 8px;
    -fx-min-width: 100px;
    -fx-background-color:#9400FF;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.46), 13, 0, 2, 2);
    -fx-font-weight: 100;
    -fx-font-size:  15px;
}
.balbad{
    -fx-font-size:  25px;
    -fx-font-family: Montserrat;
    -fx-font-weight: 100;
}
.bggg{
    -fx-background-image: url("https://www.oilpaintingfactory.com/pic/Oil%20Painting%20Styles%20on%20Canvas/Fantasy/Popular%20Fantasy/9-Casino-Last-Supper-Fantasy.jpg");

}

.bg-blackjack{
    -fx-background-image: url("https://i.imgur.com/OaAtBVB.png");
    -fx-background-size: cover;
}
.bg-roulette{
    -fx-background-image: url("https://i.imgur.com/mYbsi5D.png");
    -fx-background-size: cover;
}
.bg-slots{
    -fx-background-image: url("https://i.imgur.com/q2NxzAk.png");
    -fx-background-size: cover;
}
.bggg-2 {
    -fx-padding: 10px;
    -fx-max-width: 400px;
    -fx-background-radius: 100px 100px 0px 0px;
    -fx-border-radius: 100px 100px 0px 0px;
    -fx-border-width: 6px 6px 0px 6px;
    -fx-border-color: #9400FF;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 2, 2);
    -fx-font-weight: 100;
    -fx-font-size:  15px;
    -fx-background-color: rgba(255,255,255,.5);
   }